header ,
.header-member-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header,
.content-container {
    width: 80%;
    margin: 0 auto;
}


.header-member-list .list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-member-list .list li {
    margin: 0 10px;
}

.content-container .members-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.content-container .list-box {
    border: 1px solid #000;
    padding: 10px;
}

.content-container .list-box .list {
    list-style: none;
    padding: 0;
}

.content-container .list-box .list .list-item {
    border: 1px solid;
    padding: 5px;
    margin-bottom: 10px;
}

.form-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 90%;
    border: 1px solid;
    padding: 20px;
}

.form-box::before,
.form-box::after {
    clear: both;
}

.form-box * {
    width: 40%;
    margin-bottom: 25px;
    display: inline-block;
}

.form-box button {
    margin: 0 auto;
}

.form-box input {
    float: left;
}

.form-box select {
    float: right;
}

.form-box input[type="text"] {
    width: 100%;
}
